<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WanderLust</title>
    </head>
    <body>
        <h3>edit your listing</h3>
        <!-- <form method="POST" action="/listings"> -->
        <form>
            <input name="listing[title]" type="text" value="<%= listing.title %>" /><br /><br />
            <input name="listing[description]" type="text" value="<%= listing.description %>" /><br /><br />
            <input name="listing[price]" type="number" value="<%= listing.price %>" /><br /><br />
            <input name="listing[location]" type="text" value="<%= listing.location %>" /><br /><br />
            <input name="listing[country]" type="text" value="<%= listing.country %>" /><br /><br />
            <button>submit</button>
        </form>
    </body>
</html>
